    <%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
    </head>
<body>
    <%- include('../includes/navigation-old.ejs') %>
    <main>
        <div class="grid">
            <article class="card product-item">
                <header class="card__header">
                    <h1 class="product__title">asdfsdf</h1>
                </header>
                <div class="card__image">
                    <img src="/images/book.jpg" alt="book.jpg">
                </div>
                <div class="card__content">
                    <h2 class="product__price">20.99</h2>
                    <p class="product__description">lkasnvaljajsvklasjvklasj</p>
                </div>
                <div class="card__actions">
                    <a href="" class="btn">Details</a>
                </div>
            </article>
        </div>
    </main>
